@model BookingSite.ViewModels.FlightViewModel

<div>
    <p>From: @Model.FromAirport</p> 
    <p>To: @Model.ToAirport</p>
    <p>Transfers: @Model.RouteSegments</p>
    <p>Mealchoice: </p>
    <p>Travel class: </p>
</div>