@{
    ViewData["Title"] = "Problem with getting Hotels";
    ViewData["TitleIcon"] = "exclamation-triangle";
}

<div class="text-center">
    <h1 class="display-4">Hotels</h1>
    <p>Sorry, there was a problem fetching the hotels.</p>
    <p>Please try again later or contact customer support.</p>

    <a asp-controller="FlightsOverview" asp-action="Index" class="btn btn-primary">Return to Flights</a>
</div>