@model List<BookingSite.ViewModels.RootObject>

@foreach (var item in Model)
{
    foreach (var hotel in item.Data)
    {
        <p>@hotel.Name</p>
        <p>@hotel.Address.AddressString</p>
        <p>--------------------------------------------<br/></p>
    }
}