@{
    ViewData["Title"] = "No Plane Assigned";
}

<div class="text-center">
    <h1 class="display-4">No Plane Assigned</h1>
    <p>Sorry, one or more of the flights in your cart doesn't have a plane assigned yet.</p>
    <p>Please try again later or contact customer support.</p>
    
    <a asp-controller="FlightsOverview" asp-action="Index" class="btn btn-primary">Return to Flights</a>
</div>
